node_modules
**/node_modules
dist
build
coverage
.env.local
.DS_Store
*.log
.vscode/settings.json
renovate/.env
npmToken.txt
.npmrc
.moderne
rewrite/
change-import.ts
codemods/javascript-starter-copy
javascript-recipe-starter